/* Nav Bar CSS */

.navbar {
    background-color: blueviolet;
    color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}


.navbar-default .navbar-brand {
    color: black;
}

li .active {
    background-color: aquamarine;
}




/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */

